.modal-dialog {
    height: 240px;
    padding: 24px;
    text-align: center;
    position: relative;
}

.modal-dialog .send-data {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 75px);
}

.mdc-dialog--open .mdc-dialog__scrim {
    opacity: 0;
}

#maincontent {
    background: transparent;
}